body {
  margin: 0;
  background: #C2D3CD;
}

.App {
  text-align: center;
}

.App h1 {
  color: #56494C;
}

a {
  color: #847E89;
}

#user_input {
  width: 75%;
  height: 50px;
  border-radius: 10px;
  border: none;
  background: #AFBFC0;
  margin: 10px;
  text-align: center;
  padding: 5px 10px;
}

#submit_btn {
  border: none;
  padding: 5px 10px;
  font-size: large;
  border-radius: 5px;
  background: #847E89;
  color: #e2eeea;
}

#submit_btn:hover {
  background: #9FA4A9;

}